html {
  font: normal 112.5%/1.65 'Montserrat', sans-serif;
  height: 100%;
}

body {
  min-height: 100%;
  word-wrap: break-word;
  color: #444;
}

small {
  font-size: 65%;
}

p {
  margin: auto auto 1.5em;
}

pre code {
  word-wrap: normal;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

pre {
  white-space: pre;
}

code {
  white-space: pre;
  font-family: monospace;
}

#sidebar {
  position: fixed;
  top: 200px;
  left: 200px;
  padding: 0;
  margin: 0;
  z-index: 2;
}

#sidebar > li {
  display: block;
}

#sidebar > li > a {
  display: block;
  text-transform: uppercase;
  color: #777;
  padding: 10px 0;
  text-decoration: none;
  font-size: 12px;
}

#content {
  position: relative;
  padding-left: 450px;
  padding-top: 200px;
  width: 700px;
}

#hero {
  margin-bottom: 54px;
  margin-bottom: 3rem;
}

#hero-title {
  font-size: 60px;
  font-size: 3.33333rem;
  margin-bottom: 8.91px;
  margin-bottom: 0.495rem;
  text-transform: uppercase;
}

#hero-title,
.section-title {
  line-height: 1;
  margin-top: 0;
  text-rendering: optimizeLegibility;
  color: #222222;
}

#hero-text,
.section-title {
  font-size: 21px;
  font-size: 1.16667rem;
  margin-bottom: 25.45714px;
  margin-bottom: 1.41429rem;
}

.section-title {
  color: #999;
  text-transform: uppercase;
  font-weight: normal;
}

.code-label {
  color: #777;
  display: block;
  margin-bottom: .65em;
}
